<% provide(:title, t(".title")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<%= search_form_for @search, class: "form-inline" do |f| %>
  <div class="form-group mb-2">
    <%= f.text_field :name_cont, class: "form-control", placeholder: "Name" %>
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <%= f.text_field :email_cont, class: "form-control", placeholder: "Email" %>
  </div>
  <%= f.submit "Search", class: "btn btn-primary mb-2" %>
<% end %>

<%= will_paginate(@users,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate(@users,
  renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
