<% provide(:title, t(".heading")) %>
<h1 class="text-center"><%= t ".heading" %></h1>

<div class="col-md">
  <div>
    <%= link_to t("add"), new_product_path,
      class: "btn btn-success" if user_signed_in? && current_user.admin? %>
  </div>

  <div class="dropdown-divider"></div>

  <%= search_form_for @search, method: :get, class: "form-inline" do |f| %>
    <div class="form-group mb-2" >
      <%= f.select :classify_eq, [[t("food"), true], [t("drink"), false]],
          {include_blank: t("choose_classify")}, class: "form-control" %>
    </div>
    <div class="form-group mx-sm-3 mb-2">
      <%= f.collection_select :category_id_eq, Category.all, :id, :name,
        {include_blank: t("choose_category")}, {class: "form-control"} %>
    </div>
    <div class="row">
      <div class="form-group mx-sm-3 mb-2" style="width: 120px">
        <%= f.number_field :price_gteq, min: 0, class: "form-control col-sm",
          placeholder: "Min" %>
      </div>
      <div class="form-group mx-sm-3 mb-2" style="width: 120px" >
        <%= f.number_field :price_lteq, class: "form-control col-sm",
          placeholder: "Max" %>
      </div>
    </div>
    <%= f.submit t("filter"), class: "btn btn-success mx-sm-2 mb-2" %>
  <% end %>

  <div class="dropdown-divider"></div>

  <% if @products.present? %>
    <div id="products_div" class="row">
      <%= render @products %>
    </div>

    <%= will_paginate(@products,
      renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer) %>
  <% end %>
</div>
